* {
  font-family: "Prompt", sans-serif;
}

header {
  text-align: center;
}

.name {
  font-size: 44px;
}

.subheading {
  font-style: italic;
  margin-top: -10px;
}

.container {
  margin: 5px;
}

.project-block {
  border: 1px white solid;
  border-radius: 3px;
  background-color: rgb(239, 239, 251);
}

em {
  font-weight: 500;
}

.footer {
  font-size: 12px;
}
