* {
  font-family: "Prompt", sans-serif;
}

header {
  text-align: center;
  color: #6c757d;
  margin-top: 20px;
}

.name {
  font-size: 44px;
}

.subheading {
  font-style: italic;
  font-size: 24px;
  margin-top: -10px;
}

.container {
  margin: 5px;
}

.project-block {
  border: transparent;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.about-me,
.project-container {
  padding: 10px;
  border-radius: 3px;
  border: transparent;
}

em {
  font-weight: 500;
}

p,
li {
  font-size: 14px;
}

h3 {
  color: black;
}

ul {
  list-style-type: square;
}

strong {
  font-style: italic;
}

.link {
  color: #212529;
}

a:hover {
  color: black;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #6c757d;
}
