* {
  font-family: "Prompt", sans-serif;
  cursor: default;
}

header {
  text-align: center;
  color: #aa83c3;
  margin-top: 20px;
}

em {
  font-weight: 500;
}

p,
li {
  font-size: 14px;
}

ul {
  list-style-type: square;
}

strong {
  font-style: italic;
}

footer {
  font-size: 12px;
  color: #c4ddf3;
  margin-top: 100px;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: 5px;
}

.pronouns {
  font-size: 14px;
}

.about-me-heading {
  color: rgb(144, 174, 221);
}

.about-me {
  color: #6c757d;
}

.about-me p {
  font-size: 15px;
}

.project-container {
  border-radius: 3px;
  border: transparent;
}

.project-name {
  font-style: italic;
}

.name {
  font-size: 44px;
}

.nav-link {
  font-size: 15px;
  cursor: pointer;
  color: #93c383;
}

.nav-link:hover {
  text-decoration: none;
  color: #4c6444;
}

.subheading {
  font-style: italic;
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: -5px;
}

.project-block {
  position: relative;
  background-color: rgb(129, 152, 151);
}

.blog-block,
.project-block,
.blog-title {
  border: transparent;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.blog-block {
  background-color: rgb(163, 151, 158);
}

.blog-title-div {
  border: transparent;
  border-radius: 3px;
}

.blog-title {
  text-align: center;
  color: rgb(163, 151, 158);
}

.blog-title:hover {
  font-weight: bolder;
  transform: ease 0.05s;
}

.link {
  color: #7996b5;
  text-decoration: none;
}

.navbar {
  margin-bottom: 10px;
}

.btnDiv {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  left: 0px;
}

.photo-me {
  border: 1px transparent;
  border-radius: 50%;
  margin: auto;
  height: 40%;
  width: 40%;
}
