* {
  font-family: "Prompt", sans-serif;
  cursor: default;
}

header {
  text-align: center;
  color: #6c757d;
  margin-top: 20px;
}

.about-me-heading {
  color: rgba(255, 255, 255, 0.55);
}

.pronouns {
  font-size: 14px;
}

.project-name {
  font-style: italic;
}

.about-me {
  color: #6c757d;
}
.name {
  font-size: 44px;
}

.nav-link {
  font-size: 15px;
  cursor: pointer;
}

.subheading {
  font-style: italic;
  font-size: 24px;
  margin-top: -10px;
  margin-bottom: -5px;
}

.container {
  margin: 5px;
}

.project-block {
  border: transparent;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.about-me,
.project-container {
  padding: 10px;
  border-radius: 3px;
  border: transparent;
}

.about-me p {
  font-size: 15px;
}

em {
  font-weight: 500;
}

p,
li {
  font-size: 14px;
}

ul {
  list-style-type: square;
}

strong {
  font-style: italic;
}

.link {
  color: #212529;
}

a:hover {
  color: black;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #6c757d;
}

.navbar {
  margin-bottom: 10px;
}

.btnDiv {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  left: 0px;
}

.photo-me {
  border: 1px transparent;
  border-radius: 50%;
  margin: auto;
  height: 40%;
  width: 40%;
}
